In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

# 데이터 로드
data = sns.load_dataset('taxis')
data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>pickup</th>
      <th>dropoff</th>
      <th>passengers</th>
      <th>distance</th>
      <th>fare</th>
      <th>tip</th>
      <th>tolls</th>
      <th>total</th>
      <th>color</th>
      <th>payment</th>
      <th>pickup_zone</th>
      <th>dropoff_zone</th>
      <th>pickup_borough</th>
      <th>dropoff_borough</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2019-03-23 20:21:09</td>
      <td>2019-03-23 20:27:24</td>
      <td>1</td>
      <td>1.60</td>
      <td>7.0</td>
      <td>2.15</td>
      <td>0.0</td>
      <td>12.95</td>
      <td>yellow</td>
      <td>credit card</td>
      <td>Lenox Hill West</td>
      <td>UN/Turtle Bay South</td>
      <td>Manhattan</td>
      <td>Manhattan</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2019-03-04 16:11:55</td>
      <td>2019-03-04 16:19:00</td>
      <td>1</td>
      <td>0.79</td>
      <td>5.0</td>
      <td>0.00</td>
      <td>0.0</td>
      <td>9.30</td>
      <td>yellow</td>
      <td>cash</td>
      <td>Upper West Side South</td>
      <td>Upper West Side South</td>
      <td>Manhattan</td>
      <td>Manhattan</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2019-03-27 17:53:01</td>
      <td>2019-03-27 18:00:25</td>
      <td>1</td>
      <td>1.37</td>
      <td>7.5</td>
      <td>2.36</td>
      <td>0.0</td>
      <td>14.16</td>
      <td>yellow</td>
      <td>credit card</td>
      <td>Alphabet City</td>
      <td>West Village</td>
      <td>Manhattan</td>
      <td>Manhattan</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2019-03-10 01:23:59</td>
      <td>2019-03-10 01:49:51</td>
      <td>1</td>
      <td>7.70</td>
      <td>27.0</td>
      <td>6.15</td>
      <td>0.0</td>
      <td>36.95</td>
      <td>yellow</td>
      <td>credit card</td>
      <td>Hudson Sq</td>
      <td>Yorkville West</td>
      <td>Manhattan</td>
      <td>Manhattan</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2019-03-30 13:27:42</td>
      <td>2019-03-30 13:37:14</td>
      <td>3</td>
      <td>2.16</td>
      <td>9.0</td>
      <td>1.10</td>
      <td>0.0</td>
      <td>13.40</td>
      <td>yellow</td>
      <td>credit card</td>
      <td>Midtown East</td>
      <td>Yorkville West</td>
      <td>Manhattan</td>
      <td>Manhattan</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
Q1 = data['tip'].quantile(0.25)
Q3 = data['tip'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

In [11]:
print(len(data[(data['tip'] < lower_bound) | (data['tip'] > upper_bound)]))

280